h1{
    color:brown;
    margin: 30px;
}
*{
    border: solid;
    
}
body{
    background-color: #808080;
}
.menu{
    background-color: aqua;
    display:flex;
    justify-content: space-between;
}
.grid{
    background: aquamarine;
    display: flex;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
.menu a{
    padding: 20px;
}
.item{
    position:relative;
}
.item p{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
.item:hover p{
    opacity:1;
}
.item:hover img{
    opacity: 0.33;
}